main{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    /* background: linear-gradient(to right top, #80bd9e, #89daf9); */ /* green -> blue */
    /* background: linear-gradient(to right top, #85b8cb, #1d6a96); */ /*light blue -> light navy */
    /* background: linear-gradient(to right top, #deb3cf, #b57fb3); */ /* pink -> purple */
    /* background: linear-gradient(to right top, #d1ede1, #028c6a); */ /* pale green -> darker green */
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255,255, 0.3));
    border-radius: 2rem;
    z-index: 3;
    -webkit-backdrop-filter: blur(2rem);
}

.circle1, .circle2{
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 1), 
        rgba(255, 255,255, 0.5));
    height: 15rem;
    width: 15rem;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
}

.circle1{
    top: 5%;
    right: 15%;
}


.circle2{
    bottom: 5%;
    left: 10%;
}

.user img{
    width: 15%;
    border-radius: 50%;
    margin: 2rem;
}